body{
    margin: 0;
    background-color: whitesmoke;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    font-size: larger;
    font-family: sans-serif;


}

p{
    display: block;
}

/* static/css/styles.css */
button {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Get the element to inline block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Some margin */
    cursor: pointer; /* Pointer/hand icon */
    border-radius: 12px; /* Rounded corners */
}

button:hover {
    background-color: #45a049; /* Darker green on hover */
}
